{% extends 'base.html' %}
{% load pages_tags %}

{% block content %}
    <h1>{% node 'page/index/title.txt' default='Home page' %}</h1>
    <h2>Language: {{ request.LANGUAGE_CODE }}</h2>
    <h2>Country: {{ request.COUNTRY_CODE }}</h2>
    <p>
    {% blocknode "page/index/content.txt" %}
        Put your default text here!
    {% endblocknode %}
    </p>

{% endblock %}