<script>window.PAGES_NODES = {{ json_nodes|safe }};</script>
<style type="text/css">
#pages-cms{position:fixed;top:0;right:-400px;width:400px;height:100%;border:0;z-index:30000}
#pages-cms.fullscreen{width:100%}
#pages-cms.closed{opacity:.5}
#pages-cms.closed:hover{opacity:1}
.pages-node-outline{position:absolute;z-index:20000;border-radius:4px;cursor:pointer}
.pages-node-outline:hover{opacity:.25;background-color:#20b2aa}
.pages-node-outline.visible{opacity:.25;background-color:#20b2aa}
.pages-node-outline.visible:hover{opacity:.5}
.pages-node-outline.selected{opacity:1;background-color:transparent;-webkit-box-shadow:0 0 20px 3px rgba(0,220,255,0.5),inset 0 0 0 2px #00dcff;box-shadow:0 0 20px 3px rgba(0,220,255,0.5),inset 0 0 0 2px #00dcff}
.pages-overlay{background-color:rgba(0,0,0,0.5);position:absolute;z-index:10000;display:none}
</style>
<iframe id="pages-cms" src="{% url 'admin:pages:cms' %}"></iframe>
